header{
    justify-content: space-between !important;
}
header,
footer{
    background: var(--darkColor);
    color: var(--lightColor);
}
.navbar{
    gap: 20px;
}
.navbar a{
    display: block;
    padding: 10px 20px;
    color: var(--lightColor);
}
.navbar a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: .3s;
}
.navbar a:hover::after{
    width: 100%;
}
main{
    background: var(--primaryColor);
    color: var(--lightColor);
}
h2{
    text-align: center;
    margin-bottom: 2rem;
}
.btn-container{
    gap: 20px;
}
button{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background: var(--secondaryColor);
}
button:hover{
    background: var(--darkColor);
    color: var(--lightColor);
}
main p{
    color: var(--secondaryColor);
    font-weight: 100;
}
#adopt p{
    width: 80ch;
    margin: 0 auto 1rem;
}
#voluntary{
    max-width: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#voluntary button{
    width: fit-content;
    margin-bottom: 1rem;
}

.carousel{
    width: 100%;
    margin: 0 auto 1rem;
    border-radius: 4px;
}
.dogList{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.card{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    box-shadow: 2px 2px 4px #000;
    background: var(--tertiaryColor);
    padding-bottom: 10px;
    border-radius: 4px;
}

.card:hover{
    background: #3b3b3b;
}
.card p{
    width: 100% !important;
}
.card figure{
    width: 200px;
    height: 250px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    overflow: hidden;
}
.card button{
    width: fit-content;
    margin: auto;
    padding: 5px 20px;
}
.adopt a{
    display: block;
    width: fit-content;
    margin: 0 auto 1rem;
    position: relative;
}
.adopt a::after{
    content: "";
    display: block;
    width: 15px;
    height: 10px;
    background-image: url(../assets/image/Arrow.svg);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: .3s;
}
.adopt a:hover::after{
    opacity: 1;
    bottom: -20px;
}

.network img{
    width: 30px;
    filter: invert(1);
    margin-right: 1rem;
    transition: .3s;
}
.network a:hover img{
    transform: rotate(10deg);
}
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer nav a:hover{
    text-decoration: underline;
}
.footer-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 900px){
    header{
        flex-direction: column;
    }
    #adopt p{
        width: 80%;
        margin: 0 auto 1rem;
    }
}
@media (max-width: 600px){
    .navbar{
        flex-direction: column;
        gap: 0px;
    }
    .navbar li{
        width: 100vw;
        text-align: center;
    }
    .navbar li:hover{
        background-color: var(--tertiaryColor);
    }
    .navbar a::after{
        display: none;
    }
    footer{
        flex-direction: column;
        gap: 40px;
    }
    footer li{
        text-align: center;
    }
}
@media (max-width: 480px){
    .btn-container{
        flex-direction: column;
    }
    .font1-xl{
        font-size: 3.5rem;
    }
}