header{
    justify-content: space-between !important;
}
header,
footer{
    background: var(--darkColor);
    color: var(--lightColor);
}
header .navbar{
    gap: 20px;
}
.navbar a{
    display: block;
    padding: 10px 20px;
    color: var(--lightColor);
}
.navbar a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: .3s;
}
.navbar a:hover::after{
    width: 100%;
}
main{
    background: var(--primaryColor);
    color: var(--lightColor);
}
h2{
    text-align: center;
    margin-bottom: 2rem;
}
.btn-container{
    gap: 20px;
}
button{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background: var(--secondaryColor);
}
button:hover{
    background: var(--darkColor);
    color: var(--lightColor);
}
main p{
    color: var(--secondaryColor);
    font-weight: 100;
}
#adopt p{
    width: 80ch;
    margin: 0 auto 1rem;
}
#voluntary{
    max-width: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#voluntary button{
    width: fit-content;
    margin-bottom: 1rem;
}
#card-container{
    flex-wrap: wrap;
    gap: 40px;
    overflow: hidden;
    margin-bottom: 2rem;
}
.card{
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1rem;
    background: var(--tertiaryColor);
    padding-bottom: 10px;
    box-shadow: 2px 2px 4px #000;
    border-radius: 4px;
    overflow: hidden;
}
.card:hover{
    background: #3b3b3b;
}
.card figure{
    width: 200px;
    height: 250px;
}
.card button{
    width: fit-content;
    margin: auto;
    padding: 5px 20px;
}
.adopt a{
    display: block;
    width: fit-content;
    margin: 0 auto 1rem;
    position: relative;
}
.adopt a::after{
    content: "";
    display: block;
    width: 15px;
    height: 10px;
    background-image: url(../assets/image/Arrow.svg);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: .3s;
}
.adopt a:hover::after{
    opacity: 1;
    bottom: -20px;
}

.network img{
    width: 30px;
    filter: invert(1);
    margin-right: 1rem;
}